<div class="logo-container">
  <img alt="" class="logo-login" src="assets/logos/logobeehave01.png" />
</div>

<nb-alert
  *ngIf="showMessages.error && errors?.length && !submitted"
  [ngClass]="'login-alert'"
  outline="danger"
  role="alert"
>
  <p class="alert-title"><b>Ops! Algo deu errado.</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message login-alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<form #form="ngForm" (ngSubmit)="login()" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-email">Email :</label>
    <input
      #email="ngModel"
      [(ngModel)]="user.email"
      [attr.aria-invalid]="(email.invalid || errors?.length) && email.touched ? true : null"
      [required]="getConfigValue('forms.validation.email.required')"
      [status]="email.dirty ? (email.invalid || errors?.length ? 'danger' : 'success') : 'basic'"
      autofocus
      fullWidth
      id="input-email"
      name="email"
      nbInput
      pattern=".+@.+\..+"
      placeholder="Informe seu email"
    />
    <ng-container *ngIf="(email.invalid || errors?.length) && email.touched">
      <p *ngIf="email.errors?.required" class="error-message">Email é obrigatório</p>
      <p *ngIf="email.errors?.pattern" class="error-message">Email informado é inválido</p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Senha:</label>
    <input
      #password="ngModel"
      [(ngModel)]="user.password"
      [attr.aria-invalid]="(password.invalid || errors?.length) && password.touched ? true : null"
      [required]="getConfigValue('forms.validation.password.required')"
      [status]="password.dirty ? (password.invalid || errors?.length ? 'danger' : 'success') : 'basic'"
      fullWidth
      id="input-password"
      name="password"
      nbInput
      placeholder="Informe a senha"
      type="password"
    />
    <ng-container *ngIf="(password.invalid || errors?.length) && password.touched">
      <p *ngIf="password.errors?.required" class="error-message">Senha é obrigatório</p>
    </ng-container>
  </div>

  <button
    [nbSpinner]="loading"
    [class.btn-pulse]="submitted"
    [disabled]="submitted || !form.valid"
    fullWidth
    nbButton
    status="success"
  >
    Log In
  </button>
</form>
