<nb-card [nbSpinner]="showLoading">
  <nb-card-header class="card-header-action">
    <span>Membros</span>
    <nb-actions size="small">
      <nb-action [ngClass]="'header-action'" icon="plus-circle-outline" link="formulario/"></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-list *ngIf="memberList.length; else emptyList">
    <nb-list-item
      *ngFor="let member of memberList"
      [ngClass]="'item-list item-list__clickable'"
      (click)="goToMemberForm(member)">
      <div class="d-flex justify-content-between w-100">
        <div class="d-flex flex-column">
          <span class="item-info">{{ member.name }}</span>
        </div>
      </div>
    </nb-list-item>
  </nb-list>
  <ng-template #emptyList>
    <nb-card-body> Não existem membros cadastrados! </nb-card-body>
  </ng-template>
</nb-card>
