<nb-card [nbSpinner]="showLoading">
  <nb-card-header class="card-header-action">
    <span>Membros</span>
    <nb-actions size="small">
      <nb-action [ngClass]="'header-action'" icon="plus-circle-outline" link="formulario/"></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-list *ngIf="memberList.length; else emptyList">
    <nb-list-item *ngFor="let member of memberList">
      <div class="d-flex justify-content-between w-100">
        <div class="d-flex flex-column">
          <span class="item-info">{{ member.name }}</span>
          <span class="item-info item-info-secondary">{{ member.roleDisplay() }}</span>
        </div>
        <nb-actions size="small">
          <nb-action [nbPopover]="popTemplate" icon="more-vertical-outline"
                     style="padding: 0" title="Mais opcões">
          </nb-action>
          <ng-template #popTemplate>
            <div class="d-flex flex-column">
              <button [ngClass]="'btn-list-action'" nbButton routerLink="formulario/{{ member.id }}" size="small">
                Alterar
              </button>
              <button (click)="removeMember(member)" [ngClass]="'btn-list-action'" nbButton size="small">Excluir
              </button>
            </div>
          </ng-template>
        </nb-actions>
      </div>
    </nb-list-item>
  </nb-list>
  <ng-template #emptyList>
    <nb-card-body>
      Não existe membros cadastrados!
    </nb-card-body>
  </ng-template>
</nb-card>
