<nb-list [nbSpinner]="isLoading">
  <nb-list-item
    *ngFor="let studentExercise of studentExerciseList; let i = index"
    [ngClass]="checkUserPerm('student_exercise_view') ? 'item-list item-list__clickable' : 'item-list'"
    (click)="openStudentExerciseForm(studentExercise)">
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex flex-column">
        <span class="item-info">{{ studentExercise.program }}</span>
        <span class="item-info item-info-secondary">{{ studentExercise.application_type_description }}</span>
      </div>
      <nb-actions size="small">
        <nb-action
          *ngIf="checkUserPerm('student_exercise_view')"
          icon="pie-chart-outline"
          title="Gráfico do programa de ensino do aprendente"
          (click)="$event.stopPropagation();goToStudentExerciseChart(studentExercise)"
          [ngClass]="'item-action item-list-btn'">
        </nb-action>
        <nb-action
          *ngIf="checkUserPerm('student_exercise_del')"
          icon="trash-outline"
          title="Excluir programa de ensino do aprendente"
          (click)="$event.stopPropagation();removeStudentExercise(studentExercise)"
          [ngClass]="'item-action item-list-btn'">
        </nb-action>
      </nb-actions>
    </div>
  </nb-list-item>
</nb-list>
