<nb-list [nbSpinner]="showLoading">
  <nb-list-item *ngFor="let studentExercise of studentExerciseList">
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex flex-column">
        <span class="item-info">{{ studentExercise.program }}</span>
        <span class="item-info item-info-secondary">{{ studentExercise.applicationTypeDisplay() }}</span>
      </div>
      <nb-actions size="small">
        <nb-action [nbPopover]="popTemplate" title="Mais opcões"
                   icon="more-vertical-outline" style="padding: 0">
        </nb-action>
        <ng-template #popTemplate>
          <div class="d-flex flex-column">
            <button nbButton size="small" [ngClass]="'btn-list-action'" (click)="removeStudentExercise(studentExercise)">Excluir</button>
            <button nbButton [ngClass]="'btn-list-action'" size="small">Finalizar</button>
          </div>
        </ng-template>
      </nb-actions>
    </div>
  </nb-list-item>
</nb-list>
