<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
  <ng-container *ngIf="!isLoading && student">
    <nb-card-header class="card-header-action">
      <nav class="navigation">
        <a (click)="goBack()" aria-label="Back" class="link back-link" href="javascript:void(0);">
          <nb-icon icon="arrow-back"></nb-icon>
        </a> {{ student.name }}
      </nav>
    </nb-card-header>
    <nb-card-body [ngClass]="'card-body-tabs'">
      <nb-tabset>
        <nb-tab 
          *ngIf="checkUserPerm('student_exercise_view')"
          class="student-tab" 
          tabTitle="Programas de Ensino" >
          <button
            *ngIf="checkUserPerm('student_exercise_add')"
            (click)="openStudentExerciseForm()"
            [ngClass]="'btn-tab-add'"
            nbButton
            outline
            size="small"
            status="primary">
            <nb-icon icon="plus"></nb-icon>
            Adicionar programa
          </button>
          <ngx-student-exercise
            [user]="user"
            [student]="student"
          ></ngx-student-exercise>
        </nb-tab>
        <nb-tab 
          class="student-tab" 
          *ngIf="checkUserPerm('consultation_view')"
          tabTitle="Atendimentos" >
          <ngx-student-consultation
            [user]="user"
            [student]="student"
          ></ngx-student-consultation>
        </nb-tab>
        <nb-tab 
          class="student-tab" 
          *ngIf="checkUserPerm('student_member_view')"
          tabTitle="Equipe" >
          <button
            (click)="openStudentMemberForm()" [ngClass]="'btn-tab-add'"
            nbButton
            outline
            size="small"
            status="primary">
            <nb-icon icon="plus"></nb-icon>
            Adicionar membro
          </button>
          <ngx-student-member
            [user]="user"
            [student]="student"
          ></ngx-student-member>
        </nb-tab>
        <nb-tab 
          class="student-tab" 
          tabTitle="Dashboard">
          <ngx-dashboard [student]="student"></ngx-dashboard>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </ng-container>
</nb-card>
