.card-header-action {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;

  .header-action {
    padding: 0;
  }
}

.student-tab {
  padding: 0 !important;
}

.card-body-tabs {
  padding: 0 1rem 1rem;

  .btn-tab-add {
    margin: 0.5rem 0;
  }
}

//.item-info {
//  font-weight: bold;
//  font-size: 0.9rem;
//}
//
//.item-info-secondary {
//  font-size: 0.7rem;
//  color: grey;
//}
