<nb-card [nbSpinner]="showLoading" [ngClass]="'card-modal'" nbSpinnerStatus="primary">
  <nb-card-header>
    <nav class="navigation">
      {{ title }}
    </nav>
  </nb-card-header>
  <nb-card-body>
    <div>
      <div *ngFor="let member of memberList">
        <nb-checkbox (checkedChange)="onCheckBoxChange($event, member)">{{ member.name }}</nb-checkbox>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="float-right">
      <button (click)="saveStudentMembers()" [disabled]="!selectedMembers.length" class="mx-2" nbButton
              size="small" status="primary">
        Salvar
      </button>
      <button (click)="close(false)" class="mx-2" nbButton size="small" status="secondary">Voltar</button>
    </div>
  </nb-card-footer>
</nb-card>

