<nb-card [nbSpinner]="showLoading" [ngClass]="'card-modal'" nbSpinnerStatus="primary">
  <nb-card-header>
    <nav class="navigation">
      {{ title }}
    </nav>
  </nb-card-header>
  <nb-card-body>
    <div class="form-row">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="form-group">
          <label class="label" for="name">Nome</label>
          <input
            [(ngModel)]="student.name"
            [status]="student.errors?.name ? 'danger' : 'basic'"
            fieldSize="small"
            fullWidth
            id="name"
            name="name"
            nbInput
            type="text">
          <ng-container *ngIf="student.errors?.name">
            <p *ngFor="let message of student.errors?.name" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4">
        <div class="form-group">
          <label class="label" for="genre">Gênero</label>
          <nb-select
            [(ngModel)]="student.genre"
            [status]="student.errors?.genre ? 'danger' : 'basic'"
            fullWidth
            id="genre"
            placeholder="Selecione"
            size="small">
            <nb-option *ngFor="let genre of genreChoices" [value]="genre.value">{{ genre.name }}</nb-option>
          </nb-select>
          <ng-container *ngIf="student.errors?.genre">
            <p *ngFor="let message of student.errors?.genre" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4">
        <div class="form-group">
          <label class="label" for="birth_date">Data Nascimento</label>
          <input
            [(ngModel)]="student.birth_date"
            [nbDatepicker]="birth_date_picker"
            [status]="student.errors?.birth_date ? 'danger' : 'basic'"
            fieldSize="small"
            fullWidth
            id="birth_date"
            nbInput>
          <nb-datepicker #birth_date_picker format="DD/MM/YYYY"></nb-datepicker>
          <ng-container *ngIf="student.errors?.birth_date">
            <p *ngFor="let message of student.errors?.birth_date" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4">
        <div class="form-group">
          <label class="label" for="first_avaliation_date">Primeira Avaliação</label>
          <input
            [(ngModel)]="student.first_avaliation_date"
            [nbDatepicker]="first_avaliation_date_picker"
            [status]="student.errors?.first_avaliation_date ? 'danger' : 'basic'"
            fieldSize="small"
            fullWidth
            id="first_avaliation_date"
            nbInput>
          <nb-datepicker #first_avaliation_date_picker format="DD/MM/YYYY"></nb-datepicker>
          <ng-container *ngIf="student.errors?.first_avaliation_date">
            <p *ngFor="let message of student.errors?.first_avaliation_date" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="float-right">
      <button (click)="saveStudent()" class="mx-2" nbButton size="small" status="primary">Salvar</button>
      <button (click)="close(false)" class="mx-2" nbButton size="small" status="secondary">Voltar</button>
    </div>
  </nb-card-footer>
</nb-card>

