<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
  <nb-card-header>Dados da instituição</nb-card-header>
  <nb-card-body>
    <div class="form-row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label class="label" for="document">Documento</label>
          <input
            [(ngModel)]="company.document"
            [mask]="masks.DOCUMENTO"
            [status]="company.errors?.document ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="document"
            name="document"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.document">
            <p *ngFor="let message of company.errors?.document" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label class="label" for="name">Nome</label>
          <input
            [(ngModel)]="company.name"
            [status]="company.errors?.name ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="name"
            name="name"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.name">
            <p *ngFor="let message of company.errors?.name" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label class="label" for="email">Email</label>
          <input
            [(ngModel)]="company.email"
            [status]="company.errors?.email ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="email"
            name="email"
            nbInput
            type="email">
          <ng-container *ngIf="company.errors?.email">
            <p *ngFor="let message of company.errors?.email" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label class="label" for="phone">Telefone</label>
          <input
            [(ngModel)]="company.phone"
            [mask]="masks.TELEFONE"
            [status]="company.errors?.phone ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="phone"
            name="phone"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.phone">
            <p *ngFor="let message of company.errors?.phone" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label class="label" for="postal_code">CEP</label>
          <input
            (ngModelChange)="onCepChange()"
            [(ngModel)]="company.postal_code"
            [mask]="masks.CEP"
            [status]="company.errors?.postal_code ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="postal_code"
            name="postal_code"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.postal_code">
            <p *ngFor="let message of company.errors?.postal_code" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label class="label" for="state">Estado</label>
          <nb-select
            [(ngModel)]="company.state"
            [status]="company.errors?.state ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fullWidth
            id="state"
            placeholder="Selecione"
            size="small">
            <nb-option *ngFor="let state of stateChoices" [value]="state.value">{{ state.name }}</nb-option>
          </nb-select>
          <ng-container *ngIf="company.errors?.state">
            <p *ngFor="let message of company.errors?.state" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label class="label" for="city">Cidade</label>
          <input
            [(ngModel)]="company.city"
            [status]="company.errors?.city ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="city"
            name="city"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.city">
            <p *ngFor="let message of company.errors?.city" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label class="label" for="district">Bairro</label>
          <input
            [(ngModel)]="company.district"
            [status]="company.errors?.district ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="district"
            name="district"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.district">
            <p *ngFor="let message of company.errors?.district" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-5">
        <div class="form-group">
          <label class="label" for="street">Logradouro</label>
          <input
            [(ngModel)]="company.street"
            [status]="company.errors?.street ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="street"
            name="street"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.street">
            <p *ngFor="let message of company.errors?.street" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-2">
        <div class="form-group">
          <label class="label" for="number">Número</label>
          <input
            [(ngModel)]="company.number"
            [status]="company.errors?.number ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="number"
            name="number"
            nbInput
            type="number">
          <ng-container *ngIf="company.errors?.number">
            <p *ngFor="let message of company.errors?.number" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-5">
        <div class="form-group">
          <label class="label" for="complement">Complemento</label>
          <input
            [(ngModel)]="company.complement"
            [status]="company.errors?.complement ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="complement"
            name="complement"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.number">
            <p *ngFor="let message of company.errors?.number" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
  <nb-card-header>Dados do responsável</nb-card-header>
  <nb-card-body>
    <div class="form-row">
      <div class="col-12 col-sm-6 col-md-5">
        <div class="form-group">
          <label class="label" for="responsible_name">Nome</label>
          <input
            [(ngModel)]="company.responsible_name"
            [status]="company.errors?.responsible_name ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="responsible_name"
            name="responsible_name"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.responsible_name">
            <p *ngFor="let message of company.errors?.responsible_name"
               class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label class="label" for="responsible_email">Email</label>
          <input
            [(ngModel)]="company.responsible_email"
            [status]="company.errors?.responsible_email ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="responsible_email"
            name="responsible_email"
            nbInput
            type="email">
          <ng-container *ngIf="company.errors?.responsible_email">
            <p *ngFor="let message of company.errors?.responsible_email"
               class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="form-group">
          <label class="label" for="responsible_phone">Telefone</label>
          <input
            [(ngModel)]="company.responsible_phone"
            [mask]="masks.TELEFONE"
            [status]="company.errors?.responsible_phone ? 'danger' : 'basic'"
            [disabled]="!isEditing"
            fieldSize="small"
            fullWidth
            id="responsible_phone"
            name="responsible_phone"
            nbInput
            type="text">
          <ng-container *ngIf="company.errors?.responsible_phone">
            <p *ngFor="let message of company.errors?.responsible_phone"
               class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="float-right">
      <button *ngIf="isEditing" (click)="updateCompany()" class="mx-2" nbButton size="small" status="primary">Salvar</button>
      <button *ngIf="!isEditing && checkUserPerm('company_edit')" (click)="editForm()" class="mx-2" nbButton size="small" status="primary">Editar</button>
    </div>
  </nb-card-footer>
</nb-card>
