<nb-card [nbSpinner]="isLoading">
  <nb-card-header class="card-header-action">
    <span>Usuários</span>
    <nb-actions size="small">
      <nb-action [ngClass]="'header-action'" icon="plus-circle-outline" link="formulario/"></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-list *ngIf="userList.length; else emptyList">
    <nb-list-item
      *ngFor="let user of userList; let i = index"
      [ngClass]="'item-list item-list__clickable'"
      (click)="goToUserForm(user)"
    >
      <div class="d-flex justify-content-between w-100">
        <div class="d-flex flex-column">
          <span class="item-info">{{ user.name }}</span>
          <span class="item-info item-info-secondary">{{ user.email }}</span>
        </div>
        <nb-actions size="small">
          <nb-action
            (click)="showPopover($event, i)"
            [nbPopover]="popTemplate"
            [ngClass]="'item-action'"
            icon="more-vertical-outline"
            title="Mais opcões"
          >
          </nb-action>
          <ng-template #popTemplate>
            <div class="d-flex flex-column">
              <button [ngClass]="'btn-list-action'" nbButton routerLink="formulario/{{ user.id }}" size="small">
                Alterar
              </button>
              <button (click)="removeUser(user)" [ngClass]="'btn-list-action'" nbButton size="small">Excluir</button>
            </div>
          </ng-template>
        </nb-actions>
      </div>
    </nb-list-item>
  </nb-list>
  <ng-template #emptyList>
    <nb-card-body> Não existe usuários cadastrados! </nb-card-body>
  </ng-template>
</nb-card>
