<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
  <nb-card-header>
    <div class="d-flex flex-column">
      <span>{{ title }}</span>
      <span class="modal-subtitle">{{ subTitle }}</span>
    </div>
  </nb-card-header>
  <nb-list [nbSpinner]="isLoading">
    <nb-list-item
      *ngFor="let consultationExercise of consultationExerciseList; let index = index"
      [ngClass]="'item-list exercise__container'">
      <div class="exercise" (click)="setTargetListVisible(index)">
        <div class="exercise__detail">
          <span class="item-info">{{consultationExercise.exercise.program}}</span>
          <span class="item-info-secondary">{{consultationExercise.exercise.applicationTypeDisplay()}}</span>
        </div>
        <div class="exercise__resume">
          <span class="item-info-secondary" *ngIf="!consultationExercise.is_applied">Não aplicado</span>
          <ng-container *ngIf="consultationExercise.is_applied">
            <div class="exercise__resume__result">
              <nb-icon icon="minus" status="danger"></nb-icon>
              <span class="item-info-secondary">{{consultationExercise.result.result_wrong}}</span>
            </div>
            <div class="exercise__resume__result">
              <nb-icon icon="plus" status="success"></nb-icon>
              <span class="item-info-secondary">{{consultationExercise.result.result_correct_with_help}}</span>
            </div>
            <div class="exercise__resume__result">
              <nb-icon icon="plus-circle" status="info"></nb-icon>
              <span class="item-info-secondary">{{consultationExercise.result.result_indepent}}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="targets__container" *ngIf="isTargetListVisible(index)">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <span class="item-info-secondary targets__title">Tentativas</span>
          <span class="item-info targets__title">
            {{ consultationExercise.total_targets_answered }}/{{ consultationExercise.exercise.total_attempts }}
          </span>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <span class="item-info-secondary targets__title">Respostas corretas</span>
          <span class="item-info targets__title">{{ consultationExercise.total_targets_correct }}</span>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <span class="item-info-secondary targets__title">Porcentagem de acerto</span>
          <span class="item-info targets__title">{{ consultationExercise.percentage_correct_targets }}%</span>
        </div>
        <span class="item-info targets__title mt-1">Resultado detalhado</span>
        <div 
          *ngFor="let consultationExerciseTarget of consultationExercise.targets; let indexTarget = index" 
          class="d-flex flex-column">
          <div class="item-info-secondary target">
            <span class="target__detail">{{ consultationExerciseTarget.sequence }}. {{consultationExerciseTarget.student_target.target}}</span>
            <div class="target__resume">
              <span class="target__resume__result">{{consultationExerciseTarget.checkResult(ResultTypeChoice.WRONG) ? '1' : '0'}}</span>
              <span class="target__resume__result target__resume__result--mid">{{consultationExerciseTarget.checkResult(ResultTypeChoice.CORRECT_WITH_HELP) ? '1' : '0'}}</span>
              <span class="target__resume__result">{{consultationExerciseTarget.checkResult(ResultTypeChoice.INDEPENDENT) ? '1' : '0'}}</span>
            </div>
          </div>
          <div *ngIf="isDividerVisible(consultationExercise, indexTarget)" style="height: 1px; margin: 0.25rem 0; width: 100%; background-color: #f1f1f1;"></div>
        </div>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
