<nb-card [nbSpinner]="showLoading">
  <nb-card-header class="card-header-action">
    <span>Aprendentes</span>
    <nb-actions size="small" *ngIf="checkUserPerm('student_add')">
      <nb-action (click)="openStudentForm()" [ngClass]="'header-action'" icon="plus-circle-outline"></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-list *ngIf="studentList.length; else emptyList">
    <nb-list-item
      *ngFor="let student of studentList; let i = index"
      [ngClass]="'item-list item-list__clickable'"
      (click)="goToStudentDetails(student)">
      <div class="d-flex justify-content-between w-100">
        <div class="d-flex flex-column">
          <span class="item-info">{{ student.name }}</span>
          <span class="item-info item-info-secondary">{{ student.age }} anos</span>
        </div>
        <nb-actions size="small">
          <nb-action 
            *ngIf="checkUserPerm('student_edit')"
            icon="edit-outline" 
            title="Alterar aprendente"
            (click)="$event.stopPropagation();openStudentForm(student)" 
            [ngClass]="'item-action item-list-btn'">
          </nb-action>
          <nb-action 
            *ngIf="checkUserPerm('student_del')"
            icon="trash-outline" 
            title="Excluir aprendente" 
            (click)="$event.stopPropagation();removeStudent(student)"
            [ngClass]="'item-action item-list-btn'">
          </nb-action>
        </nb-actions>
      </div>
    </nb-list-item>
  </nb-list>
  <ng-template #emptyList>
    <nb-card-body> Não existem aprendentes cadastrados! </nb-card-body>
  </ng-template>
</nb-card>
