<nb-list>
  <nb-list-item *ngFor="let studentMember of studentMemberList" [ngClass]="'item-list'">
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex flex-column">
        <span class="item-info">{{ studentMember.member.name }}</span>
        <span class="item-info item-info-secondary">{{ studentMember.roleDisplay() }}</span>
      </div>
      <nb-actions size="small">
        <nb-action 
        *ngIf="checkUserPerm('student_member_edit')"
        icon="edit-outline" 
        title="Alterar função do membro da equipe"
        (click)="openStudentMemberForm(studentMember)" 
        [ngClass]="'item-action item-list-btn'">
      </nb-action>
        <nb-action 
          *ngIf="checkUserPerm('student_member_del')"
          icon="trash-outline" 
          title="Excluir membro da equipe do aprendente" 
          (click)="removeStudentMember(studentMember)"
          [ngClass]="'item-action item-list-btn'">
        </nb-action>
      </nb-actions>
    </div>
  </nb-list-item>
</nb-list>
