<nb-card [nbSpinner]="isLoading" [ngClass]="'card-modal'" nbSpinnerStatus="primary">
  <nb-card-header>
    <nav class="navigation">
      {{ title }}
    </nav>
  </nb-card-header>
  <nb-card-body>
    <div class="form-row">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="form-group">
          <label class="label" for="program">Programa</label>
          <input
            [(ngModel)]="studentExercise.program"
            [status]="studentExercise.errors?.program ? 'danger' : 'basic'"
            [disabled]="studentExercise.has_consultation"
            fieldSize="small"
            fullWidth
            id="program"
            name="program"
            nbInput
            type="text"
          />
          <ng-container *ngIf="studentExercise.errors?.program">
            <p *ngFor="let message of studentExercise.errors?.program" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-5">
        <div class="form-group">
          <label class="label" for="application_type">Tipo de aplicação</label>
          <nb-select
            [(ngModel)]="studentExercise.application_type"
            [status]="studentExercise.errors?.application_type ? 'danger' : 'basic'"
            fullWidth
            id="application_type"
            placeholder="Selecione"
            size="small"
          >
            <nb-option *ngFor="let appType of applicationTypeChoices" [value]="appType.value">{{
              appType.name
            }}</nb-option>
          </nb-select>
          <ng-container *ngIf="studentExercise.errors?.application_type">
            <p *ngFor="let message of studentExercise.errors?.application_type" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4">
        <div class="form-group">
          <label class="label" for="help_type">Tipo de ajuda</label>
          <nb-select
            [(ngModel)]="studentExercise.help_type"
            [status]="studentExercise.errors?.help_type ? 'danger' : 'basic'"
            fullWidth
            id="help_type"
            placeholder="Selecione"
            size="small"
          >
            <nb-option *ngFor="let helpType of helpTypeChoices" [value]="helpType.value">{{ helpType.name }}</nb-option>
          </nb-select>
          <ng-container *ngIf="studentExercise.errors?.help_type">
            <p *ngFor="let message of studentExercise.errors?.help_type" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3">
        <div class="form-group">
          <label class="label" for="total_attempts">Total de Tentativas</label>
          <input
            (change)="onAttemptsChange()"
            [(ngModel)]="studentExercise.total_attempts"
            [status]="studentExercise.errors?.total_attempts || attemptsError ? 'danger' : 'basic'"
            [disabled]="studentExercise.has_consultation"
            fieldSize="small"
            fullWidth
            id="total_attempts"
            name="total_attempts"
            nbInput
            type="number"
          />
          <ng-container *ngIf="studentExercise.errors?.total_attempts">
            <p *ngFor="let message of studentExercise.errors?.total_attempts" class="error-message">{{ message }}</p>
          </ng-container>
          <ng-container *ngIf="attemptsError">
            <p class="error-message">{{ ERROR_ATTEMPTS }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12">
        <div class="form-group">
          <label class="label" for="targets">Alvos</label>
          <div *ngFor="let studentExerciseTarget of studentExercise.targets; let i = index">
            <nb-form-field>
              <input
                [(ngModel)]="studentExerciseTarget.target"
                [status]="!studentExerciseTarget.target ? 'danger' : 'basic'"
                fieldSize="small"
                fullWidth
                name="target{{ i }}"
                nbInput
                type="text"
                [nbSpinner]
              />
              <button
                *ngIf="!studentExercise.has_consultation"
                (click)="removeTarget(i)"
                ghost
                nbButton
                nbSuffix
                size="small"
                [nbSpinner]="isDeletingTarget && i === targetDeletingIndex"
                [disabled]="isDeletingTarget && i === targetDeletingIndex"
                nbSpinnerSize="tiny"
              >
                <nb-icon icon="trash-outline" pack="eva"></nb-icon>
              </button>
            </nb-form-field>
            <ng-container *ngIf="!studentExerciseTarget.target">
              <p class="error-message mb-0">{{ ERROR_TARGET_BLANK }}</p>
            </ng-container>
          </div>
          <nb-form-field *ngIf="!studentExercise.has_consultation">
            <input
              #inputTarget
              [status]="targetError ? 'danger' : 'basic'"
              fieldSize="small"
              fullWidth
              id="targets"
              name="targets"
              nbInput
              type="text"
            />
            <button
              (click)="addTarget(inputTarget)" 
              ghost 
              nbButton 
              nbSuffix 
              size="small"
            >
              <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
            </button>
          </nb-form-field>
          <ng-container *ngIf="targetError">
            <p class="error-message">{{ targetErrorMessage }}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12">
        <div class="form-group">
          <label class="label" for="procedure">Procedimento</label>
          <input
            [(ngModel)]="studentExercise.procedure"
            [status]="studentExercise.errors?.procedure ? 'danger' : 'basic'"
            fieldSize="small"
            fullWidth
            id="procedure"
            name="procedure"
            nbInput
            type="text"
          />
          <ng-container *ngIf="studentExercise.errors?.procedure">
            <p *ngFor="let message of studentExercise.errors?.procedure" class="error-message">{{ message }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="float-right">
      <button (click)="saveStudentExercise()" class="mx-2" nbButton size="small" status="primary">Salvar</button>
      <button (click)="close(false)" class="mx-2" nbButton size="small" status="secondary">Voltar</button>
    </div>
  </nb-card-footer>
</nb-card>
