<nb-list *ngIf="userList.length; else emptyList" [nbSpinner]="isLoading">
  <nb-list-item
    *ngFor="let user of userList; let i = index"
    [ngClass]="'item-list item-list__clickable'"
    (click)="goToUserForm(user)">
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex flex-column">
        <span class="item-info">{{ user.name }}</span>
        <span class="item-info item-info-secondary">{{ user.email }}</span>
      </div>
      <nb-actions size="small" *ngIf="checkUserPerm(user_del)">
        <nb-action 
          icon="trash-outline" 
          title="Excluir usuário" 
          (click)="removeUser(user, $event)"
          [ngClass]="'item-action item-list-delete'">
        </nb-action>
      </nb-actions>
    </div>
  </nb-list-item>
</nb-list>
<ng-template #emptyList>
  <div> Não existem usuários cadastrados! </div>
</ng-template>
