.form-legend {
  display: block;
  margin: 0.5rem 0 1rem;
  color: #8f9bb3;
  font-weight: 700;
  font-size: 1rem;
}

.error-message {
  font-size: 0.8rem !important;
  color: #ff3d71 !important;
}

.nb-theme-beehave {
  .my-modal {
    display: block;
    margin: 1rem;
  }

  [nbButton].btn-list-action {
    font-size: 12px;
  }

  .item-list {

    &__clickable {

      &:hover {
        background: #F9F9F9;
        cursor: pointer;
      }

    }

    .item-info {
      font-weight: bold;
      font-size: 0.9rem;
    }

    .item-info-secondary {
      font-size: 0.7rem;
      color: grey;
    }

    .item-action {
      padding: 0;
    }
  }

}

@media screen and (min-width: 1200px) {
  .nb-theme-beehave {
    .my-modal {
      display: block;
      margin: 1rem;
      max-width: 60%;
    }
  }
}
