<nb-card [nbSpinner]="isLoading">
  <nb-card-header class="card-header-action">
    <div *ngIf="!!exercise" class="d-flex flex-column">
      <nav class="navigation">
        <a (click)="goBack()" aria-label="Back" class="link back-link" href="javascript:void(0);">
          <nb-icon icon="arrow-back"></nb-icon>
        </a> {{ exercise.student.name }} - {{ exercise.program }}
      </nav>
    </div>
  </nb-card-header>
  <nb-card-body>
    <h6>Comparativo tipos de aplicação</h6>
    <ngx-echarts-line [customOptions]="comparativeDataOptions"></ngx-echarts-line>
    <br/>
    <br/>
    <h6>Percentual de acerto por tipo de aplicação e consulta</h6>
    <ngx-echarts-line [customOptions]="comparativeDataByConsultationOptions">
    </ngx-echarts-line>
  </nb-card-body>
</nb-card>